.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fade-enter {
  opacity: 0.01;
  transform: translateX(50px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transform: translateX(-50px);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.container__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
}

.container__text .text {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1e30f3;
}

.text.sec-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid #1e30f3;
  animation: animate 4s steps(12) infinite;
}


#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url('./bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}


.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
          box-shadow: 0px 4px 15px -5px #0046d5;
}


@keyframes animate {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}


@media screen and (max-width: 768px) {
  .notfound .notfound-404 {
    height: 142px;
  }
  .notfound .notfound-404 h1 {
    font-size: 112px;
  }
  .container__text .text {
    font-size: 2rem;
  }

  .bg-light.py-5 {
    padding: 4rem !important;
  }
}

@media screen and (max-width: 576px) {
  .container__text .text {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .text.sec-text::before {
    border-left: 1px solid #1e30f3;
    animation-duration: 3s; 
  }

  .container.px-5.my-5 {
    margin: 0px !important;
    padding: 0px !important;
  }

  .card-body.p-5 {
    margin: 0px !important;
    padding: 0px !important;
  }

  .col-lg-11.col-xl-9.col-xxl-8 {
    width: 320px;
    margin: 0;
  }

  .row.justify-content-center {
    margin: 0;
  }

  .d-flex.align-items-center.justify-content-between.mb-4 {
    display: flex;
    flex-direction: column;
  }

  .bg-light.py-5 >.container.px-5 {
    padding: 0 !important;
  }
  section.py-5 > .container.mb-5 {
    padding: 0 !important;
  }

  .col-sm-12.col-lg-12.col-xl-12.col-xxl-10.overflow-y-hidden {
    padding: 8px !important;
  }

  .card-body.p-0 > .d-flex.align-items-center {
    flex-direction: column;
  }

  .card-body.p-0 > .d-flex.align-items-center > .p-5 {
    padding: 0 !important;
  }

  section.p-sm-0.md-py-5 > .container.px-5 {
    padding: 8px !important;
  }
}